$yellow-100: #FF8A00;
$yellow-200: #FFCD1E;
$yellow-300: #FFB30E;
$yellow-400: #FEEFD0;
$yellow-500: #FFB800;
$orange: #F17228;
$orange-100: #FF7A7A;
$orange-200: #F65900;
$orange-300: #FB3C00;
$grey-200: #9E9E9E;
$grey-300: #424242;
$grey-400: #504F4F;
$grey-500: #827E7E;
$grey-600: #616161;