@import 'colors';
@import 'mixin';

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 1450px;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px 0;

    .logo {
      width: 190px;
      height: 37px;
    }

    p {
      @include xxs;
      font-weight: 700;
      display: flex;
      align-items: center;

      img {
        margin: 0 10px 0 12px;
      }

      span {
        font-weight: 200;
        margin-right: 5px;
      }
    }

    div {
      display: flex;
      gap: 30px;

      span {
        @include xxs;
        font-weight: 700;
        display: flex;
        align-items: center;
        color: $grey-300;

        img {
          margin-right: 8px;
        }
      }

      button {
        @include btn;
        display: flex;
        align-items: center;
        color: $yellow-100;
        box-shadow: 0 3px 0.2em $grey-200;
        background: white;
        font-weight: 700;

        img {
          margin-right: 8px;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;

  .promo {
    background-color: $yellow-200;
    width: 100%;
    display: flex;
    justify-content: center;

    .wrapper {
      display: flex;
      justify-content: space-between;
      gap: 22px;
      padding-top: 80px;

      .starvation {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 100px;

        h1 {
          @include xxxl;
          color: white;
          font-weight: 700;
        }

        p {
          @include xs;
          line-height: 26px;
          color: $grey-400;
          margin-bottom: 6px;
        }

        .search {
          border-radius: 16px;
          background-color: white;

          form {
            padding: 24px;
            border-bottom: 1px solid $grey-200;
            display: flex;
            gap: 8px;

            label {
              padding: 10px 24px;

              input {
                appearance: none;
              }

              span {
                @include xxs;
                font-weight: 700;
                padding-left: 10px;
              }
            }  

            label:first-of-type {
              background-color: rgba(241, 114, 40, 0.1);
              border-radius: 8px;
            }
            
            label:first-of-type span {
              color: $orange;
            }

            label:last-of-type span {
              color: $grey-400;
            }
          }

          .geo {
            padding: 24px;
            display: flex;
            gap: 16px;

            div {
              display: flex;
              align-items: center;
              gap: 12px;
              flex-grow: 1;
              background-color: $grey-200;
              border-radius: 8px;
              padding: 10px 16px;
              color: $grey-200;
              background-color: rgba(158, 158, 158, 0.1);

              img {
                height: 38px;
              }
            }

            button {
              @include btn;
              padding: 21px 48px;
              display: flex;
              align-items: center;
              gap: 10px;
              background-image: linear-gradient(-30deg, $orange-200, $orange-100);
              color: white;
              font-weight: 700;
            }
          }
        }
      }

      picture {
        max-width: 604px;
        transform: translateY(100px);

        img {
          object-fit: cover;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .sales {


    ul {
      display: flex;
      gap: 16px;

      li {


        picture {
          position: relative;

          img {
            border-radius: 16px;
          }

          .sale {
            position: absolute;
            display: flex;
            background-color: $yellow-300;
            bottom: 5px;
            border-radius: 0 45px 0 16px;
            padding: 0 13px 0 18px;

            span {
              color: white;
            }

            div {
              display: flex;
              flex-direction: column;

              span:first-of-type {
                @include s;
              }

              span:last-of-type {
                @include xs;
              }
            }
          }

          .sale > span {
            @include xxl;
            font-weight: 700;
          }
        }

        .vage {
          @include xs;
          display: block;
          color: $grey-300;
          margin-top: 32px;
          margin-bottom: 14px;
        }

        .days {
          @include xs;
          display: block;
          padding: 8px 16px;
          color: $orange;
          background-color: rgba(241, 114, 40, 0.2);
          border-radius: 8px;
          width: max-content;
          font-weight: 600;
        }
      }
    }
  }

  .work {

    h2 {
      @include m;
      color: $orange;
      text-align: center;
      margin-bottom: 70px;
    }

    ul {
      display: flex;
      gap: 32px;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        max-width: 310px;

        picture {
          display: block;
          width: 86px;
          height: 125px;
          margin-bottom: 30px;

          img {
            object-fit: cover;
            width: 100%;
            height: auto;
          }
        }

        h4 {
          @include xs;
          color: $grey-300;
        }

        p {
          @include xxs;
          color: $grey-200;
          text-align: center;
        }
      }
    }
  }

  .install {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    align-items: center;
    background-color: $yellow-400;
    padding-top: 100px;

    ul {
      display: flex;
      background-color: white;
      padding: 55px;
      border-radius: 46px;
      box-shadow: 0 10px 30px $grey-200;

      li {
        display: flex;
        align-items: center;
        gap: 30px;

        h3 {
          @include s;
          max-width: 160px;
          background: linear-gradient(45deg, $orange-300, $yellow-500);
          background-clip: text;
          -webkit-text-fill-color: transparent; 
        }
      }

      li:nth-of-type(2) {
        border-left: 1px solid $grey-200;
        border-right: 1px solid $grey-200;
        padding: 0 55px;
      }

      li:first-of-type {
        padding-right: 55px;
      }

      li:last-of-type {
        padding-left: 55px;
      }
    }

    .stores {
      display: flex;
      gap: 50px;

      picture {

        img {
          object-fit: cover;
          width: 100%;
          height: auto;
        }
      }

      h2 {
        @include xxl;
        color: $yellow-300;
      }

      p {
        @include xxs;
        max-width: 430px;
        color: $grey-500;
        margin: 16px 0 40px;
      }

      .links {
        display: flex;
        gap: 8px;

        a {
          display: flex;
          gap: 14px;
          align-items: center;
          padding: 10px 14px;
          background-color: white;
          border-radius: 8px;
          box-shadow: 0 5px 10px $grey-200;

          div {
            display: flex;
            flex-direction: column;
            color: $grey-300;

            span:first-of-type {
              @include xxxs;
            }

            span:last-of-type {
              @include xs;
            }
          }
        }
      }
    }

    .stores > div {
      padding-top: 56px;
    }
  }

  .types {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    .box {
      display: flex;
      align-items: center;
      border-radius: 16px;
      box-shadow: 0 1px 30px $grey-200;
      overflow: hidden;

      picture {
        display: block;

        img {
          object-fit: cover;
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .about {
        max-width: 408px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 56px;

        h3 {
          @include m;
          color: $grey-300;

          span {
            color: $yellow-300;
          }
        }

        p {
          @include xxs;
          color: $grey-600;
        }

        button {
          @include btn;
          margin-top: 48px;
          padding: 21px 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          background-image: linear-gradient(30deg, $yellow-500, $yellow-100);
          color: white;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }

  .deals {
    background-color: $yellow-200;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding: 90px 0 75px;

    h3 {
      @include xl;
      color: white;
      max-width: 730px;
      line-height: 60px;
      text-align: center;
    }

    button {
      @include btn;
      padding: 21px 48px;
      display: flex;
      align-items: center;
      gap: 10px;
      background-image: linear-gradient(-30deg, #F65900, #FF7A7A);
      color: white;
      font-weight: 700;
    }
  }
}